@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --fuenteInter: 'Inter', sans-serif;
    --colorPrimario: #0A3871;
    --colorSecundario: #EFF1FA;
    --colorTerciario: #495057;
    --colorCuaternario: #FFFFFF;
    --colorHover: #D8DFE8;
}

*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

.presentacion{
    display: flex;
    background-color: var(--colorSecundario);
    justify-content: center;
    width: 100%;
    height: 95%;
}

.pieDePagina{
    background-color: var(--colorPrimario);
    color: var(--colorSecundario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
    height: 5%;
}

.presentacionEncriptador{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--colorSecundario);
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    margin: auto;

}

.contenedorLogo{
    background-color: var(--colorSecundario);
    width: 5%;
    height: 100%;
}

.logo{
    width: 100%;
    align-self: start;
}

.presentacionEncriptadorSistema{
    background-color: var(--colorSecundario);
    justify-content: center;
    flex-direction: column;
    width: 65%;
    height: 85%;
    /*padding-bottom: 2rem;*/
}

.presentacionEncriptadorSistemaInput{
    height: 80%;
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--colorSecundario);
    resize: none;
    font-family: var(--fuenteInter);
    font-size: 2rem;
    color: var(--colorPrimario);
}

.presentacionEncriptadorSistemaInput::placeholder{
    color: var(--colorPrimario);
}

.instrucciones{
    display: flex;
    font-family: var(--fuenteInter);
    font-size: 0.75rem;
    color: var(--colorTerciario);
}

.presentacionEncriptadorSistemaBotones{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentacionEncriptadorSistemaBotonEncriptar{
    background-color: var(--colorPrimario);
    border-radius: 1.5rem;
    border-color: var(--colorPrimario);
    border-style: none;
    font-family: var(--fuenteInter);
    font-size: 1rem;
    color: var(--colorCuaternario);
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.presentacionEncriptadorSistemaBotonDesencriptar{
    border-radius: 1.5rem;
    border-color: var(--colorPrimario);
    background-color: transparent;
    font-family: var(--fuenteInter);
    font-size: 1rem;
    color: var(--colorPrimario);
    padding: 1.5rem;
    border-style: none;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.presentacionEncriptadorSistemaBotonDesencriptar:disabled{
    background-color: var(--colorHover);
}

.salida{
    width: 20%;
    height: 100%;
    background-color: purple;
    font-family: var(--fuenteInter);
    font-size: 1.5rem;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.salida img{
    width: 100%;
}

.mensajeSugerencia{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

}

.mensajeSugerenciaNoEncontrado{
    font-family: var(--fuenteInter);
    font-size: 1.5rem;
    color: #343A40;
    text-align: center;
    font-weight: 24;
}
.mensajeSugerenciaInformacion{
    font-family: var(--fuenteInter);
    font-size: 1rem;
    color: #495057;
    text-align: center;
}

.salidaBotonCopiar{
    border-radius: 1.5rem;
    border-color: var(--colorPrimario);
    background-color: transparent;
    font-family: var(--fuenteInter);
    font-size: 1rem;
    color: var(--colorPrimario);
    padding: 1.5rem;
    border-style: none;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    justify-content: center;
}