@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --fuenteInter: 'Inter', sans-serif;
    --colorPrimario: #0A3871;
    --colorSecundario: #EFF1FA;
    --colorTerciario: #495057;
    --colorCuaternario: #FFFFFF;
    --colorHover: #D8DFE8;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

/* Restablecer la animación cuando el botón está activo */
.raise:active {
  box-shadow: none;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.raise {
    --hover: #08539C;
}

*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

.presentacion{
    display: flex;
    background-color: var(--colorSecundario);
    justify-content: center;
    width: 100%;
    height: 95%;
}

.pieDePagina{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--colorPrimario);
    color: var(--colorSecundario);
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
    height: 5%;
}

.presentacionEncriptador{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--colorSecundario);
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    margin: auto;
}

.contenedorLogo{
    background-color: var(--colorSecundario);
    width: 5%;
    height: 100%;
}

.logo{
    width: 40%;
    align-self: start;
}

.presentacionEncriptadorSistema{
    display: flex;
    background-color: var(--colorSecundario);
    justify-content: center;
    flex-direction: column;
    width: 65%;
    height: 85%;
    gap: 1rem;
}

.presentacionEncriptadorSistemaInput{
    height: 85%;
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--colorSecundario);
    resize: none;
    font-family: var(--fuenteInter);
    font-size: 2rem;
    color: var(--colorPrimario);
}

.presentacionEncriptadorSistemaInput::placeholder{
    color: var(--colorPrimario);
}

.instrucciones{
    display: flex;
    font-family: var(--fuenteInter);
    font-size: 0.75rem;
    color: var(--colorTerciario);
    height: 2%;
    gap: 0.5rem;
}

.presentacionEncriptadorSistemaBotones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 13%;
    width: 100%;
    gap: 1.5rem;
}

.presentacionEncriptadorSistemaBotonEncriptar{
    background-color: var(--colorPrimario);
    border-radius: 1.5rem;
    border: 1px solid var(--colorPrimario);
    font-family: var(--fuenteInter);
    font-size: 1rem;
    color: var(--colorCuaternario);
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 1.5rem;
}

.presentacionEncriptadorSistemaBotonDesencriptar{
    border-radius: 1.5rem;
    border: 1px solid var(--colorPrimario);
    background-color: transparent;
    font-family: var(--fuenteInter);
    font-size: 1rem;
    color: var(--colorPrimario);
    padding: 1.5rem;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    width: 50%;
    justify-content: center;
}

.presentacionEncriptadorSistemaBotonDesencriptar:disabled{
    background-color: var(--colorHover);
}

.salida{
    width: 20%;
    height: 100%;
    background-color: var(--colorCuaternario);
    font-family: var(--fuenteInter);
    font-size: 1.5rem;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 2rem;
}

.mensajeSugerencia img{
    height: auto;
}

.mensajeSugerencia{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: calc(100% - 64px);
    height: calc(79% - 64px);
}

.textoSalida{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-family: var(--fuenteInter);
    font-size: 1.5rem;
    color: #495057;
}

.mensajeSugerenciaNoEncontrado{
    height: auto;
    width: auto;
    font-family: var(--fuenteInter);
    font-size: 1.5rem;
    color: #343A40;
    text-align: center;
    font-weight: 24;
}
.mensajeSugerenciaInformacion{
    height: auto;
    width: auto;
    font-family: var(--fuenteInter);
    font-size: 1rem;
    color: #495057;
    text-align: center;
}

.salidaBotonCopiar{
    height: 9%;
    width: calc(100% - 64px);
    border-radius: 1.5rem;
    border: 1px solid var(--colorPrimario);
    background-color: transparent;
    font-family: var(--fuenteInter);
    font-size: 1rem;
    color: var(--colorPrimario);
    padding: 1.5rem;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px){
    .presentacion{
        height: 96%;
        width: 100%;
    }

    .presentacionEncriptador {
        flex-direction: column;
        width: calc(100% - 84px);
        height: calc(100% - 84px);
        justify-content: center;
        margin: auto;
        gap: 2rem;
    }

    .contenedorLogo {
        height: 5%;
        align-self: start;
    }

    .logo {
        width: 70%;
    }

    .presentacionEncriptadorSistema {
        width: 100%;
        height: 80%;
    }

    .presentacionEncriptadorSistemaInput {
        width: 100%;
        height: 84%;
        font-size: 2rem;;
    }

    .instrucciones {
        font-size: 0.75rem;
        height: 2%;
        gap: 0.5rem;
    }

    .presentacionEncriptadorSistemaBotones {
        height: 14%;
        width: 100%;
        gap: 1.5rem;
    }

    .presentacionEncriptadorSistemaBotonEncriptar{
        width: 100%;
    }
    .presentacionEncriptadorSistemaBotonDesencriptar{
        width: 100%;
    }

    .salida {
        width: 100%;
        height: 20%;
        gap: 1rem;
    }

    .mensajeSugerencia img{
        display: none;
    }

    .mensajeSugerenciaInformacion{
        width: 100%;

    }
    .mensajeSugerenciaNoEncontrado{
        width: 100%;
    }

    .salidaBotonCopiar{
        height: auto;
        display: none;
    }

    .textoSalida {
        font-size: 1rem;
    }

    .pieDePagina {
        height: 4%;
        font-size: 1rem;
    }
}

@media (max-width: 375px){
    .presentacion{
        height: 96%;
        width: 100%;
    }

    .presentacionEncriptador {
        flex-direction: column;
        width: calc(100% - 84px);
        height: calc(100% - 84px);
        justify-content: center;
        margin: auto;
        gap: 2rem;
    }

    .contenedorLogo {
        height: 5%;
        align-self: start;
    }

    .logo {
        width: 100%;
    }

    .presentacionEncriptadorSistema {
        width: 100%;
        height: 75%;
    }

    .presentacionEncriptadorSistemaInput {
        width: 100%;
        height: 65%;
        font-size: 2rem;;
    }

    .instrucciones {
        font-size: 0.75rem;
        height: 2%;
        gap: 0.5rem;
    }

    .presentacionEncriptadorSistemaBotones {
        flex-direction: column;
        height: 33%;
        width: 100%;
        gap: 0;
    }

    .presentacionEncriptadorSistemaBotonEncriptar{
        width: 100%;
    }
    .presentacionEncriptadorSistemaBotonDesencriptar{
        width: 100%;
    }

    .salida {
        width: 100%;
        height: 20%;
        gap: 1rem;
    }

    .mensajeSugerencia img{
        display: none;
    }

    .mensajeSugerenciaInformacion{
        width: 100%;

    }
    .mensajeSugerenciaNoEncontrado{
        width: 100%;
    }

    .salidaBotonCopiar{
        height: auto;
        display: none;
    }

    .textoSalida {
        font-size: 1rem;
    }

    .pieDePagina {
        height: 4%;
        font-size: 1rem;
    }
}